*.*.ts linguist-language=TS linguist-detectable

*.*.html linguist-language=HTML linguist-detectable

*.java linguist-language=JAVA linguist-detectable

*.*.css linguist-documentation

*.css linguist-documentation

back*end/** linguist-detectable

front*end/** linguist-detectable
